<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--http://www.connectionstrings.com/-->
    <add name="DataCenter" providerName="Oracle" connectionString="Data Source=dbct;User Id=dbct;Password=dbct;Integrated Security=no;"/>
  </connectionStrings>
  
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
